*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
    position: relative;
    min-height: 100vh;
}


/* Estilos para celular */


@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tablets */
}

@media screen and (min-width: 992px) {
    /* Estilos para pantallas grandes, como computadoras */
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #FFD700; ;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(49, 49, 49);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFD700;
  }