<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiPotter</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/fuentes.css">

</head>
<body>
    <div id="root"></div>
        <section id="compartir"></section>
</div>
    <script src="../scripts/jQuery/jQuery.js"></script>
    <script type="module" src="../scripts/inicializadores/compartirinit.js"></script>
</body>
</html>