<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/detail.css">
    <link rel="stylesheet" href="../styles/favBtn.css">
    <link rel="stylesheet" href="../styles/fuentes.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script
      src="https://kit.fontawesome.com/7e5b2d153f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../styles/fuentes.css">
</head>
<body>
    <div id="root"></div>
    <div id="details"></div>
    
    <script src="../scripts/jQuery/jQuery.js"></script>
    <script type="module" src="../scripts/inicializadores/detailInit.js"></script>
</body>
</html>